aplus==0.11.0
appnope==0.1.0
astropy==3.2.3
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
boto3==1.10.31
botocore==1.13.31
bqplot==0.12.1
branca==0.3.1
cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
cloudpickle==1.2.2
cycler==0.10.0
dask==2.8.1
decorator==4.4.1
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
future==0.18.2
h5py==2.10.0
idna==2.8
importlib-metadata==1.1.0
ipydatawidgets==4.0.1
ipykernel==5.1.3
ipyleaflet==0.11.6
ipympl==0.3.3
ipython==7.10.1
ipython-genutils==0.2.0
ipyvolume==0.5.2
ipyvue==1.0.0
ipyvuetify==1.1.1
ipywebrtc==0.5.0
ipywidgets==7.5.1
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kiwisolver==1.1.0
llvmlite==0.30.0
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.1.2
mistune==0.8.4
more-itertools==8.0.0
nbconvert==5.6.1
nbformat==4.4.0
notebook==6.0.2
numba==0.46.0
numpy==1.17.4
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
progressbar2==3.47.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.6.7
ptyprocess==0.6.0
pyarrow==0.15.1
Pygments==2.5.2
PyOpenGL==3.1.4
pyparsing==2.4.5
pyrsistent==0.15.6
python-dateutil==2.8.1
python-utils==2.3.0
pythreejs==2.1.1
pytz==2019.3
PyYAML==5.2
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.22.0
s3fs==0.2.2
s3transfer==0.2.1
scipy==1.3.3
Send2Trash==1.5.0
six==1.13.0
tabulate==0.8.6
terminado==0.8.3
testpath==0.4.4
toolz==0.10.0
tornado==6.0.3
traitlets==4.3.3
traittypes==0.2.1
urllib3==1.25.7
vaex==2.4.0
vaex-arrow==0.4.1
vaex-astro==0.6.1
vaex-core==1.3.0
vaex-distributed==0.3.0
vaex-hdf5==0.5.6
vaex-jupyter==0.4.1
vaex-ml==0.6.2
vaex-server==0.2.1
vaex-ui==0.3.0
vaex-viz==0.3.8
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
xarray==0.14.1
zipp==0.6.0
